repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-case-conflict
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: pretty-format-json
        args:
          - --autofix
          - --indent=2
          - --top-keys=$id,$schema,title,name,description,required,type
      - id: trailing-whitespace
